<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="" />
    <add key="ApiHost" value="" />
    <add key="ApplicationId" value="" />
    <add key="WorkflowId" value="" />
    <add key="StatsHost" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>